body{
    font-family: 'American Typewriter', serif;
}
p{
    font-size:20px;
}
.carousel-inner {
    display: flex;
    align-items: stretch;
  }
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;        /* full viewport width */
    height: 100vh;       /* full viewport height */
    object-fit: cover;   /* fill the screen without distortion */
    object-position: center; /* keep image centered */
  }
  
  .vert-center {
    display: block;
  }
  
  .hidden {
    display: none;
  }